<!-- h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p -->
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>login</h1>

<%= form_for(:session, url: login_path) do |f| %>

<div class="form-group">
  <%= f.label :email, 'Email' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>

<div class="form-group">
  <%= f.label :password, 'Password' %>
  <%= f.text_field :password, class: 'form-control' %>
</div>

<%= f.submit 'Login', class:'btn btn-primary btn-block' %>

<% end %>

  </div>
</div>
  


