<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <h1>Register</h1>
    <p>フォームに入力してください。</p>

    <%= form_for(@user) do |f| %>

<div class="form_group">
  <%= f.label :name, 'name' %>
  <%= f.text_field :name, class: 'form-control' %>
</div>
<div class="form_group">
  <%= f.label :email, 'email' %>
  <%= f.text_field :email, class: 'form-control' %>
</div>
<div class="form_group">
  <%= f.label :password, 'password' %>
  <%= f.text_field :password, class: 'form-control' %>
</div>
<div class="form_group">
  <%= f.label :password_confirmation, 'confirmation' %>
  <%= f.text_field :password_confirmation, class: 'form-control' %>
</div>

<%= f.submit 'sign up!', class: 'btn btn-primary btn-block' %>

<% end %>
  </div>
</div>

